@tailwind base;
@tailwind components;
@tailwind utilities;



.new-button::before {
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: white;
    color: black;
    position: absolute;
    z-index: -1;
    transform: translateY(100%);
    transition: all 1.3s ease;
  }
  
  .new-button:hover::before {
    transform: translateY(0px);
    color: white;
  }
  
  .new-button:hover {
    color: black;
  }
  
  .new-button {
    position: relative;
    overflow: hidden;
    width: 150px;
    padding: 12px 0;
    background-color: #25d366;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3e3e3e;
    border-radius: 30px;
  }